
    .modal {
        display: none; 
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); 
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        background: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        text-align: left;
    }
    .modal-container{
        display: flex;
        flex-direction: column;
        gap:10px;
        height: 100%;
        align-items: center;
    }
    .modal-header{
        font-size: 24px;
        font-weight: 600;
    }

    .modal-controls {
        display: flex;
        justify-content: flex-start; 
        flex-direction: row;
        gap: 10px; 
        width: 100%;
    }
   

    .modal-controls button {
        width: auto; 
        background: #eee;
        border: none;
        padding: 10px;
        border-radius: 24px;
        text-align: center;
        cursor: pointer;
        align-content: center;
    }
    .yes-button {
        background: #3D56FF !important;
        color: white;
    }
    .hidden {
        display: none;
    }
